.shippingDetails{
    display : flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    >h1{
        text-align: center;
        font-family: $font1;
    }
    >form{
        display : flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        >input{
        font-size: larger;
        font-weight: lighter;
        text-decoration: none;
        border: none;
        border-radius: 2px;
        padding : 10px;
        margin: 10px; 
    }

    }
}